/*全体設定*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Helvetica Neue",
    "Arial",
    "YuGothic",
    "YuMincho",
    "Meiryo",
    sans-serif;
}

.wrap {
  width: 100%;
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}

nav ul {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 3%;
  width: 94%;
}

nav ul li {
  width: 20%;
  float: left;
}

nav ul li a {
  display: block;
  padding: 17px 5%;
  width: 90%;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  color: #006e94;
}

nav ul li a img {
  width: 25%;
}
nav ul li a img:hover{
  filter: invert(100%);
}
/* headercss*/
header {
  width: 100%;
  position: relative;
}

.bg {
  width: 100%;
  height: auto;
  z-index: 0;
}

#headerlogo {
  position: absolute;
  top: 33%;
  left: 10%;
  width: 40%;
  height: auto;
  z-index: 100;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: transform 1s;
}
#headerlogo:hover{
  filter:brightness(1.5)
}

/*/headercss*/

.blank {
  width: 100%;
  height: 10px;
}

/* aboutcss*/
#about {
  position: relative;
  line-height: 0;
}

/*position1とかの代わり*/
.tyosei {
  position: relative;
}

/*円の位置*/

/*左上*/
.position1 {
  position: absolute;
  top: 0%;
  left: -23%;
  -webkit-transform: translate(110%, 5%);
  transform: translate(110%, 5%);
  width: 23%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  /*これ使うために大きさも指定*/
}

.tyosei::before {
  content: "";
  display: block;
  padding-top: 100%;
  /*正円のやつ*/
}

/*右上*/
.position2 {
  position: absolute;
  top: 0%;
  left: 100%;
  -webkit-transform: translate(-110%, 5%);
  transform: translate(-110%, 5%);
  width: 23%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.position2::before {
  content: "";
  display: block;
  padding-top: 100%;
}

/*右下*/
.position3 {
  position: absolute;
  top: 100%;
  left: 100%;
  -webkit-transform: translate(-110%, -105%);
  transform: translate(-110%, -105%);
  width: 23%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.position3::before {
  content: "";
  display: block;
  padding-top: 100%;
}

/*左下*/
.position4 {
  position: absolute;
  top: 100%;
  left: -23%;
  -webkit-transform: translate(110%, -105%);
  transform: translate(110%, -105%);
  width: 23%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.position4::before {
  content: "";
  display: block;
  padding-top: 100%;
}

/*二段目レイヤー*/
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 100%;
  background-color: #96aeb9;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*目次レイヤー*/
.circle2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  color: #006e94;
  font-size: 200%;
  line-height: 1;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*透明レイヤー*/
.circle3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*左上*/
#c1 p {
  margin: 20px;
  font-size: 150%;
  line-height: 1.5;
}

/*右上*/
#c2 li {
  margin: 20px;
  font-size: 125%;
  line-height: 1.0;
}

/*右下*/
#c3 p {
  margin: 20px;
  text-align: left;
  line-height: 1.0;
}

/*左下*/
#c4 p {
  margin: 20px;
  font-size: 150%;
  line-height: 1.5;
}


/*works*/
#works {
  width: 100%;
  height: auto;
  background-color: cadetblue;
}

#works h1 {
  font-size: 400%;
  color: white;
  padding-top: 2%;
  padding-left: 2%;
}

#gallery {
  width: auto;
  height: auto;
  padding-bottom: 2%;
}

.jsi {
  width: auto;
  height: auto;
  display: inline;
}

/*でっかい写真１*/
.work_01 {
  position: fixed;
  top: -13%;
  left: 0;
  width: 80%;
  height: auto;
  padding: 10%;
  background-color: #555;
  display: none;
}
/*でっかい写真２*/
.work_02 {
  position: fixed;
  top: -13%;
  left: 0;
  width: 80%;
  height: auto;
  padding: 10%;
  background-color: #555;
  display: none;
}
/*でっかい写真３*/
.work_03 {
  position: fixed;
  top: -13%;
  left: 0;
  width: 80%;
  height: auto;
  padding: 10%;
  background-color: #555;
  display: none;
}
/*でっかい写真4*/
.work_04 {
  position: fixed;
  top: -13%;
  left: 0;
  width: 80%;
  height: auto;
  padding: 10%;
  background-color: #555;
  display: none;
}
/*でっかい写真5*/
.work_05 {
  position: fixed;
  top: -13%;
  left: 0;
  width: 80%;
  height: auto;
  padding: 10%;
  background-color: #555;
  display: none;
}
/*でっかい写真6*/
.work_06 {
  position: fixed;
  top: -13%;
  left: 0;
  width: 80%;
  height: auto;
  padding: 10%;
  background-color: #555;
  display: none;
}

.ntoumei {
  width: 21.1%;
  height: auto;
  margin: 4% 6%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

/*footer*/
footer p {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color:cadetblue;
  line-height: 3;
  text-align: center;
}